.task {
    display: flex;
        align-items: center;
        justify-items: center;
        height: 90vh;
        z-index: 1;
        width: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}